/* styles.css */

/* Main Pane */
#mainPane {
    -fx-background-color: #ffffff;
}

.scroll-pane .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
}
#SearchKeyInput{
    -fx-font-size: 14px;
    -fx-margin: 0 0 10 0; /* Add margin to the bottom of text fields */
    -fx-background-color: #e6e6e6; /* Transparent background */
    -fx-border-color: #3498DB; /* Default border color */
    -fx-border-width: 0 0 2 0; /* Bottom border only */
}

/* Header Pane */
#headerPane {
    -fx-background-color: #d8e3fc; /* Updated background color to a shade of blue */
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-spacing: 10px;
    -fx-alignment: center-right;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 5);
}

/* Logo Image */
#logoImage {
    -fx-fit-height: 100; /* Adjusted fit height for a slightly larger image */
    -fx-fit-width: 250; /* Adjusted fit width for a slightly larger image */
    -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 5); /* Added drop shadow for a subtle effect */
    -fx-opacity: 0.9; /* Adjusted opacity for a semi-transparent look */
    -fx-cursor: hand; /* Changed cursor to hand on hover for better user interaction */
    -fx-transition: fit-width 0.3s, fit-height 0.3s; /* Added smooth transition for fit width and fit height changes */
}

/* Apply hover effect to the logo on mouse over */
#logoImage:hover {
    -fx-fit-width: 260; /* Increase fit width on hover */
    -fx-fit-height: 110; /* Increase fit height on hover */
    -fx-opacity: 1; /* Set full opacity on hover */
}


/* User Name Label */
#userNameLabel {
    -fx-font-family: 'Arial', sans-serif; 
    -fx-font-size: 23px; /* Increased font size for better visibility */
    -fx-font-weight: bold;
    -fx-text-fill: #333; /* Changed text color to a darker shade for better contrast */
    -fx-padding: 5 10; /* Added padding for better spacing around the label */
    -fx-border-radius: 5; /* Rounded corners for a modern look */
}

/* Apply hover effect to the label on mouse over */
#userNameLabel:hover {
    -fx-text-fill: #555; /* Darken text color on hover for a subtle effect */
}


#profilePic {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
    -fx-cursor: hand; /* Change cursor to hand on hover */
    -fx-transition: all 0.3s; /* Add a smooth transition effect */
}

/* Apply the hover effect to the profile picture */
#profilePic:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 15, 0, 0, 8);
}

/* Tab Pane */
/* Tab Pane */
#tabPane {
    -fx-tab-min-width: 190px; /* Increased minimum width for better readability */
    -fx-font-size: 16px; /* Increased font size for better visibility */
    -fx-background-color: #ffffff; /* Updated background color to white */
}

/* Set a subtle hover effect for better interactivity */
#tabPane .tab {
    -fx-background-color: #cacaca; /* Slightly different background on hover */
    -fx-border-width: 0 0 2 0; /* Bottom border only */
    -fx-border-color: #2980B9; /* Default border color */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
    -fx-transition: background-color 0.3s; /* Smooth transition for color changes */
}

/* Change the color of the selected tab */
#tabPane .tab:selected {
    -fx-background-color: #878787; /* Darker shade of blue for the selected tab */
    -fx-text-fill: white; /* White text for better visibility */
}

/* Remove the default focus indicator on tabs */
#tabPane .tab:focused {
    -fx-border-color: transparent;
}


/* Filter ChoiceBox */
#filterChoiceBox {
    -fx-pref-width: 200px;
    -fx-pref-height: 25px;
    -fx-font-size: 14px;
    -fx-margin: 0 0 10 0; /* Add margin to the bottom of the choice box */
    -fx-background-color: #e6e6e6; /* Transparent background */
    -fx-border-color: #3498DB; /* Default border color */
    -fx-border-width: 0 0 2 0; /* Bottom border only */
}
#SearchButton{
    -fx-background-color: #27AE60;
    -fx-text-fill: white;
}
#eventContentVBox {
    -fx-background-color: #f9f9f9; /* Light gray background color for better contrast */
    -fx-padding: 20px; /* Increased padding for better spacing */
    -fx-spacing: 20px; /* Increased spacing between children */
}

/* Add a subtle drop shadow for depth */
#eventContentVBox {
    -fx-effect: dropshadow(gaussian, #a0a0a0, 5, 0, 0, 2);
}

/* Set a smooth transition for color changes */
#eventContentVBox {
    -fx-transition: background-color 0.3s;
}


/* Tab Content ScrollPane */
#tabPane .tab-content {
    -fx-padding: 10px;
    
}

/* ScrollPane */
#eventContentScrollPane {
    -fx-background-color: #ffffff;
}

/* Event Details Box */
.event-details-box {
    -fx-background-color: #f5f5f5;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #e0e0e0;
}

/* Event Title */
#titleLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* Event Labels */
.event-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Event Values */
.event-value {
    -fx-font-size: 14px;
}

/* Add more styles based on your preferences */
