/* eventTabDetail.css */

/* Root AnchorPane */
#mainPane {
    -fx-background-color: #f0f0f0; /* Set background color */
    -fx-border-color: #ccc; /* Set border color */
    -fx-effect: dropshadow(gaussian, #afafaf, 2, 0, 2, 2); /* Add box shadow */
}

/* HBox styling */
#eventContainer {
    -fx-spacing: 10; /* Set spacing between children */
}

/* ImageView styling */
#eventLogo {
    -fx-border-color: #797979; /* Set border color */
}

/* VBox styling */
#infoContainer {
    -fx-spacing: 10; /* Set spacing between children */
}

/* Label styling */
#titleLabel {
    -fx-font-size: 32; /* Increase font size */
    -fx-font-weight: bold; /* Set font weight */
    -fx-text-fill: #091c73; /* Set text color */
}

.label-text {
    -fx-font-size: 20; /* Increase font size */
    -fx-font-weight: normal; /* Set font weight */
    -fx-text-fill: #555; /* Set text color */
}

.label-heading {
    -fx-font-size: 24; /* Increase font size */
    -fx-font-weight: bold; /* Set font weight */
    -fx-text-fill: #0080ff; /* Set text color */
}

/* Improve overall spacing */
.separator {
    -fx-padding: 15 0; /* Add padding to separators */
}

/* Hover effect for the whole container */
#mainPane:hover {
    -fx-background-color: #e0e0e0; /* Light background on hover */
    -fx-border-color: #999; /* Darker border on hover */
}
