.title-label {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #3498DB;
    -fx-padding: 10 0;
    -fx-border-width: 0;
}

/* Apply styles to form labels */
.form-label {
    -fx-font-size: 16px;
    -fx-text-fill: #2C3E50;
}

.text-field {
    -fx-pref-width: 300px;
    -fx-pref-height: 25px;
    -fx-font-size: 14px;
    -fx-margin: 0 0 10 0; /* Add margin to the bottom of text fields */
    -fx-background-color: #e6e6e6; /* Transparent background */
    -fx-border-color: #3498DB; /* Default border color */
    -fx-border-width: 0 0 2 0; /* Bottom border only */
}

/* Apply styles when the text field is focused */
.text-field:focused {
    -fx-border-color: #2980B9; /* Blue border color when focused */
}

/* Apply styles to the TextArea */
.text-area {
    -fx-pref-width: 300px;
    -fx-pref-height: 84px;
    -fx-font-size: 14px;
    -fx-margin: 0 0 10 0; /* Add margin to the bottom of the text area */
    -fx-background-color: #e6e6e6; /* Transparent background */
    -fx-border-color: #3498DB; /* Default border color */
    -fx-border-width: 0 0 2 0; /* Bottom border only */
}

/* Apply styles when the text area is focused */
.text-area:focused {
    -fx-border-color: #2980B9; /* Blue border color when focused */
}

.choice-box {
    -fx-pref-width: 300px;
    -fx-pref-height: 25px;
    -fx-font-size: 14px;
    -fx-margin: 0 0 10 0; /* Add margin to the bottom of the choice box */
    -fx-background-color: #e6e6e6; /* Transparent background */
    -fx-border-color: #3498DB; /* Default border color */
    -fx-border-width: 0 0 2 0; /* Bottom border only */
}

/* Apply styles when the choice box is focused */
.choice-box:focused {
    -fx-border-color: #2980B9; /* Blue border color when focused */
}

/* Apply styles to DatePicker */
.date-picker {
    -fx-pref-width: 200px;
    -fx-pref-height: 35px;
    -fx-font-size: 14px;
    -fx-margin: 0 0 10 0;
    -fx-background-color: #e6e6e6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 0);
    -fx-border-width: 0;
    -fx-background-radius: 5;
}

/* Add calendar icon to the DatePicker */
.date-picker .arrow-button {
    -fx-background-color: #3498DB;
    -fx-background-insets: 0;
    -fx-padding: 3;
}

/* Add styles for the popup of the DatePicker */
.date-picker .popup {
    -fx-background-color: white;
    -fx-border-color: #3498DB;
    -fx-border-width: 1;
}

/* Add styles to the arrow of the DatePicker popup */
.date-picker .popup .arrow {
    -fx-background-color: #3498DB;
    -fx-shape: "M 0 0 L 5 5 L 10 0 Z";
}


/* Apply styles to the TextArea */
.text-area {
    -fx-pref-width: 200px;
    -fx-pref-height: 110px;
    -fx-font-size: 14px;
    -fx-margin: 0 0 10 0;
    -fx-background-color: linear-gradient(to bottom, #ECF0F1, #E0E0E0);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 0);
    -fx-border-width: 0;
}

/* Apply styles to the button */
.sign-up-button {
    -fx-font-size: 20px;
    -fx-background-color: #2ECC71;
    -fx-text-fill: white;
    -fx-pref-height: 85px;
    -fx-border-radius: 5;
    -fx-padding: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

/* Apply hover effect to the button */
.sign-up-button:hover {
    -fx-background-color: #27AE60;
}
.vbox-container {
    -fx-background-color: #f8f8f8; /* Background color */
    -fx-border-radius: 0; /* Border radius */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0); /* Box shadow */
    -fx-padding: 50;
}
